.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/*  */

.coin-container{
  display: "flex";
  justify-content: center;
}

.coin-row{
   display: flex;
   flex-direction: row;
   justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.coin{
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}

.coin h1{
  font-size: 16px;
  width: 150px;
}
.coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;}

  .coin-symbol{
    text-transform: uppercase;
  }
  .coin-data{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  .coin-price{
    width: 110px;
  }

  .coin-volume{
    width: 150px;
  }

  .coin-market{
    width: 230px;
  }

  .coin-percent{
    width: 100%;
  }
/* 
  .red{
   color : #f00606
  }
  .green{
    color:#11d811
  } */