.coin-container{
   display: "flex";
   justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
     align-items: center;
     height: 80px;
     border-bottom: 1px solid #d7d7d7;
     width: 900px;
}